<div class="container-fluid">
  <h1>Submitted Designs</h1>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Image</th>
      <th class="center">Name</th>
      <th class="center">Description</th>
      <th class="center">Price</th>
      <th class="center">Action</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td style="vertical-align:middle"><%= link_to image_tag(project.image_url(:thumb)), project %></td>
        <td style="vertical-align:middle"><%= project.title %></td>
        <td style="vertical-align:middle"><%= project.description %></td>
        <td style="vertical-align:middle"><%= number_to_currency(project.price) %></td>
        <td style="vertical-align:middle">
          <%= link_to edit_project_path(project), class: "project-action" do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
          <%= link_to project, class: "project-action", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path, class: "btn btn-link" %>
  <% end %>
</div>
  <%= form_for([@project, @design], :html => { multipart: true }) do |f| %>
    <% if @design.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><%= pluralize(@design.errors.count, "error") %> prohibited this design from being saved:</h4>

        <ul>
        <% @design.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :thirdpartycontent, "Stock Photography/Clipart" %>
      <p class="help-block">Please check the box if you have included stock photos or clipart in your design. Read our stock image policy</p>
      <%= f.check_box :thirdpartycontent, class: "form-control checkbox" %>
    </div>

    <div class="form-group">
      <%= f.submit "Upload Design", class: "btn btn-success" %>
    </div>
  <% end %>
  
