<div class="container-fluid">
  <h1>Active Posts</h1>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Image</th>
      <th class="center">Description</th>
      <th class="center">Project</th>
      <th class="center">Designer</th>
      <th class="center">Submitted_at</th>
      <th class="center">Action</th>
    </tr>
    <% @designs.each do |design| %>
      <tr>
        <td style="vertical-align:middle"><%= link_to image_tag(design.image_url(:thumb)), design %></td>
        <td style="vertical-align:middle"><%= design.description %></td>
        <td style="vertical-align:middle"><%= design.project %></td>
        <td style="vertical-align:middle"><%= design.designer.name %></td>
        <td style="vertical-align:middle"><%= design.created_at %></td>
        <td style="vertical-align:middle">
          <!-- respond/reply to designer via message or email
          give feedback via writing and star rating -->
          <%= link_to design, class: "project-action", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path, class: "btn btn-link" %>
  <% end %>
</div>
