<div class="container-fluid">
  <h1>Listing Designs</h1>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Image</th>
        <th>thirdpartycontent</th>
        <th>Project</th>
      </tr>
    </thead>

    <tbody>
      <% @designs.each do |design| %>
        <tr>
          <td><%= design.description %></td>
          <td><%= design.image %></td>
          <td><%= design.thirdpartycontent %></td>
          <td><%= design.project_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Design', new_project_design_path %>
  
</div>
