<div class="container-fluid">
  <h1>Show Design</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag @design.image_url %>
      </div>
    </div>
    <div class="col-md-6">
      <h4><%= @design.project.title %></h4>
      <p><%= @design.description %></p>
      <p>Date Submitted: <%= @design.created_at.strftime("%-m/%-d/%-y") %></p>
      <p>Designed by: <%= "#{@design.designer.first_name.capitalize} #{@design.designer.last_name.capitalize[0]}." %></p>
      <div class="star-rating" data-score= <%= @avg_rating %> ></div>
      <p><%= "#{@reviews.length} reviews" %></p>
      <%= link_to 'Rate', new_design_review_path(@design), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Contact', '#', class: "btn btn-primary btn-xs" %>
      <%= link_to 'Block', '#', class: "btn btn-danger btn-xs" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @reviews.blank? %>
        <h4>No reviews yet</h4>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <h5>
                    <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                  </h5>
                  <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
                </td>
                <td>
                  <div class="star-rating" data-score= <%= review.rating %> ></div>
                  <br>
                  <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <% if current_user == @design.designer %>
    <%= link_to 'Edit', edit_design_path(@design), class: "btn btn-link" %> |
  <% end %>

  <%= link_to 'Browse Projects', projects_path, class: "btn btn-link" %>
  
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-central-1.amazonaws.com/skillmill/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>