
<div class="container-fluid">
  <h1>Show Design</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag @design.image_url %>
      </div>
    </div>
    <div class="col-md-6">
      <p><%= @design.description %></p>
      <p><%= @design.project_id %></p>
    </div>
  </div>

  <% if current_user == @design.designer %>
    <%= link_to 'Edit', edit_project_design_path(@design), class: "btn btn-link" %> |
  <% end %>

  <%= link_to 'Browse Projects', projects_path, class: "btn btn-link" %>
  
</div>