<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @design.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @design.image %>
</p>

<p>
  <strong>3partycontent:</strong>
  <%= @design.3partycontent %>
</p>

<p>
  <strong>Project:</strong>
  <%= @design.project_id %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
