<div class="container-fluid">
  <h1>Submitted Designs</h1>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Image</th>
      <th class="center">Description</th>
      <th class="center">Project</th>
      <th class="center">Customer</th>
      <th class="center">Date</th>
      <th class="center">Feedback</th>
      <!-- add feedback received, status, messages new/unread -->
    </tr>
    <% @designs.each do |design| %>
      <tr>
        <td style="vertical-align:middle"><%= link_to image_tag(design.image_url(:thumb)), design_path(design) %></td>
        <td style="vertical-align:middle"><%= design.description %></td>
        <td style="vertical-align:middle"><%= design.project.title %></td>
        <td style="vertical-align:middle"><%= "#{design.customer.first_name.capitalize} #{design.customer.last_name.capitalize[0]}." %></td>
        <td style="vertical-align:middle"><%= "submitted #{time_ago_in_words(design.created_at)} ago" %></td>
        <td style="vertical-align:middle">
          <!-- respond/reply to customer via message or email
          give customer feedback via writing and star rating -->
        </td>
      </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'Browse Projects', projects_path, class: "btn btn-link" %>
  <% end %>
</div>