<!-- Main Search Window -->
<div class="jumbotron" id="main-header">
  <div class="container-fluid">

    <div class="center" id="main-search-field">
      <h1>Find Projects and Creatives</h1>
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
              <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
      </form>
    </div>
    
    <div class="row center section-btn" id="how-it-works-btn">
      <button class="btn btn-warning" type="submit">How it works</button>
    </div>
  </div>
</div>

<%= render 'layouts/categories' %>
<%= render 'layouts/projects' %>
<%= render 'layouts/carousel' %>
<%= render 'layouts/designers' %>
<%= render 'layouts/benefits' %>


