<div class="container-fluid">
  <h1>My Project History</h1>

  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(project.image_url), project %>
          <div class="caption">
            <h3><%= project.title %></h3>
            <p><%= number_to_currency(project.price) %></p>
            <p><%= "posted by #{ project.user.name }" %></p>
            <p><%= project.description %></p>

            <% if (user_signed_in?) && (current_user == project.user) %>
              <%= link_to 'Edit', edit_project_path(project), class: "btn btn-link" %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Project', new_project_path, class: "btn btn-link" %>
  <% end %>
</div>

