<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'layouts/partials/head' %>
</head>

<body>
<%= render partial: 'layouts/partials/why_block' %>
<%= render partial: 'layouts/partials/header' %>
<%= yield %>
<%= render partial: 'layouts/partials/footer' %>
</body>
</html>
